@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Italiana&family=Lato:ital,wght@0,300;1,300&display=swap");

:root {
  --font__primary: "Lato", sans-serif;
  --font__secondary: "Italiana", serif;
  --font__tertiary: "Aclonica", sans-serif;
  --color__primary: #dbd4cc;
  --color__secondary: #bba993;
  --color__bg: #f1ebdf;
  --color__light: #fefefe;
  --color__dark: #514d34;
  --shadow: 0px 0.25rem 0.2rem rgba(0, 0, 0, 0.17);
  --shadow__hover: 0px 0.15rem 0.2rem rgba(0, 0, 0, 0.17);
  --content__width: max(400px, 60%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color__bg);
  color: var(--color__dark);
}

h1 {
  font-family: var(--font__tertiary);
  font-size: 4rem;
  line-height: 1;
  text-align: center;
  margin-top: 3rem;
  color: var(--color__secondary);
  text-shadow: var(--shadow);
}

h2,
h3 {
  font-family: var(--font__secondary);
  letter-spacing: 0.06rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-family: var(--font__primary);
  font-size: 1rem;
  line-height: 1.4;
}

a:link {
  text-decoration: none;
  position: relative;
  color: var(--color__dark);
  padding-inline: 0.4rem;
}

a:visited {
  color: var(--color__dark);
}

nav,
footer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding-block: 1.5rem;
  background-color: var(--color__primary);
  font-family: var(--font__secondary);
  letter-spacing: 0.05rem;
}

/* NAVIGATION */
nav {
  justify-content: center;
  margin-bottom: 1rem;
}

.nav__link,
.nav__link_current {
  margin-inline: 0.5rem;
  text-decoration: none;
}

.nav__link:after,
.nav__link_current:after {
  content: "";
  position: absolute;
  background-color: var(--color__dark);
  height: 0.125rem;
  width: 0%;
  left: 0;
  bottom: -0.4rem;
  transition: 0.3s;
}

.nav__link:hover,
.nav__link_current:hover {
  -webkit-text-stroke: 0.05rem;
}

.nav__link:hover:after,
.nav__link:active:after,
.nav__link_current:hover:after,
.nav__link_current:active:after {
  width: 100%;
}

/* HERO SECTION */
.hero_section {
  display: flex;
  text-align: center;
  flex-flow: column nowrap;
  width: var(--content__width);
  margin-top: -1.6rem;
  margin-bottom: 1rem;
  margin-inline: auto;
  padding: 1rem;
  background-color: var(--color__light);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.hero_section p {
  align-self: center;
  text-align: left;
  width: min(70ch, 100%);
  margin-top: 1rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

/* RECIPE CARDS */
.recipe_card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  width: var(--content__width);
  margin-inline: auto;
  margin-block: 1rem;
  padding: 1.5rem 0 1rem 0;
  background-color: var(--color__light);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.recipe_card__img {
  align-self: center;
  border-radius: 0.25rem;
  width: max(150px, 350px);
  height: max(105px, 245px);
  object-fit: cover;
}

.recipe_card__img_landscape {
  align-self: center;
  border-radius: 0.25rem;
  width: max(150px, 350px);
  height: max(105px, 245px);
  object-fit: cover;
}

.recipe_card__content {
  margin-inline: auto;
  padding-inline: 1rem;
  margin-top: 1rem;
  width: min(70ch, 100%);
}

.recipe_card__content p {
  margin-top: 0.5rem;
  padding-inline: 1rem;
}

/* PRIMARY BUTTON */
.button__primary {
  align-self: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-block: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color__primary);
  border: none;
  box-shadow: var(--shadow);
}

.button__primary:hover {
  transform: scale(0.95);
  box-shadow: var(--shadow__hover);
}

/* FOOTER SECTION */
footer {
  justify-content: space-around;
  margin-top: 1rem;
}

.footer__copyright p {
  font-family: var(--font__secondary);
  letter-spacing: 0.05rem;
}

.footer__socials_icon {
  filter: drop-shadow(var(--shadow));
}

.footer__socials_icon:hover {
  transform: scale(0.9);
  filter: drop-shadow(var(--shadow__hover));
}

@media (min-width: 1000px) {
  .hero_section {
    padding-inline: 2rem;
  }

  .recipe_card {
    flex-flow: row nowrap;
    padding-inline: 2rem;
  }

  .recipe_card__img {
    border-radius: 0.25rem;
    width: minmax(25%, 35%);
  }

  .recipe_card__img_landscape {
    border-radius: 0.25rem;
    /* width: clamp(30%, 39%, 50%); */
    width: 43%;
  }

  .recipe_card__content {
    margin-block: auto;
    width: max(25%, 40ch);
  }

  .button__primary {
    width: minmax(15%, 25%);
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }
}
